*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root{
  --main-color: hsl(25, 97%, 53%);
  --second-color: hsl(217, 12%, 63%);
  --paragraph-color: hsl(0, 0%, 100%);
  --Dark-blue: hsl(213, 19%, 18%);
  --light-grey: hsl(227, 8%, 23%);
  --main-transition: .5s;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  background-color: var(--Dark-blue);
  padding: 50px 20px;
  border-radius: 20px;
  position: relative;
}

.container .heading h2{
  color: var(--paragraph-color);
  margin-bottom: 30px;
}

.container .desc p{
  color: var(--second-color);
  font-size: 20px;
  margin-bottom: 30px; 
}

.num{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.num li{
  padding: 20px;
  color: var(--paragraph-color);
  background-color: var(--light-grey);
  border-radius: 50px;
  cursor: pointer;
  transition: var(--main-transition);
}

.num li:hover{
  background-color: var(--second-color);
}

.num li.active{
  background-color: var(--main-color);
}

.container .btn {
   text-align: center; 
}

.container .btn button{
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  background-color: var(--main-color);
  color: var(--paragraph-color);
  border: none;
  transition: var(--main-transition);
  cursor: pointer;
}

.container .btn button:hover{
  background-color: var(--paragraph-color);
  color: var(--main-color);
}

.rat{
  position: absolute;
  text-align: center;
  background-color: var(--Dark-blue);
  padding: 90px 40px;
  border-radius: 20px;
  display: none;
}

.rat h5{
  color: var(--main-color);
  margin: 30px 0;
}

.rat h2{
  color: var(--paragraph-color);
  margin-bottom: 30px;
}

.rat p{
  color: var(--second-color);
  line-height: 1.4;
}


